<ion-header>
  <ion-toolbar>
    <ion-title>Contáctame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img
      src="https://orbi.edu.do/orbi/imagenes/img_usuario/166798.jpeg"
      alt="Abraham Rivera Profile Photo"
      class="ion-margin-vertical"
      style="
        width: 50%;
        object-fit: cover;
        margin-inline: auto;
        display: block;
        border-radius: 0.5rem;
      "
    />
    <ion-card-header>
      <ion-card-title>Abraham Rivera Domínguez</ion-card-title>
      <ion-card-subtitle>Software Developer</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        Me apasiona crear sitios web y aplicaciones web visualmente atractivos y
        fáciles de usar. Disfruto experimentando con diferentes elementos de
        diseño y siempre estoy buscando formas de mejorar la experiencia del
        usuario. Asimismo, tengo una sólida comprensión de los conceptos de
        desarrollo web como HTML, CSS y JavaScript.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
